footer {
  background-color: whitesmoke;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  position: fixed;
  width: 100%;
}

button {
  border: none;
  padding: 8px;
}

button:hover , button:focus {
  background-color: transparent !important;
  border: 1px dotted brown;
  border-radius: 30%;
}
