.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.btn-container {
  display: flex;
  flex-direction: column;
  min-height: fill-available;
  justify-content: flex-start;
  padding-top: 70px;
}

.btn-container .btn {
  width: 250px;
  margin: 8px 0;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}