
.container-explore {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.explore-btns {
  /* border: 10px solid green; */
  min-height: 450px !important;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 30%;
  min-height: fill-available;
}

.btn-ingredient {
  height: 150px !important;
  max-width: 150px !important;
  line-height: 0px !important;
}

.btn-igr {
  padding-top: 50px;
}

.dropdown-container {
height: 200px !important;
}

.btn-container {
  /* border: 10px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn1 {
  padding-top: 50px;
}

.explore-btns .btn {
  width: 300px;
}

.footer {
  /* border: 1px solid springgreen; */
}