.basic {
  align-items: center;
  display: flex;
  flex-direction: column;
/* //  flex-wrap: wrap; */
  /* justify-content: center; */
} 

.foto {
  height: 200px;
  width: 50%;
}

.instructions {
  width: 70%;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}