.basic {
  text-align: center;
}

.select {
  margin-bottom: 30px;
}

.title {
  display: block;
  color: var(--cinza);
  padding-top: 22px;
}

.butn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.all-container {
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  background-color: brown;
  padding-bottom: 32px;
  width: 100vmin;
  margin: 0;
}

.footer .title {
  color: whitesmoke;
}

.favorite {
  background-color: whitesmoke !important;
}

.list {
  text-align: left;
}

.checks {
  padding-left: 32px;
}

.cards {
  width: 100%;
  display: flex;
}

.instructions {
  text-align: justify;
  width: 90%;
}

.nomeRiscado {
  text-decoration: line-through;
}

.image {
  width: 30%;
}

.done-list .btn{
  width: 33.3%;
}

.recipeCard-container {
  padding-top: 15px;
  padding-bottom: 15px;
}