.basic {
  text-align: center;
}

.title {
  display: block;
  color: var(--cinza);
  padding-top: 22px;
}

.footer {
  background-color: brown;
  padding-bottom: 16px;
  width: 100vmin;
  margin: 0;
}

.footer .title {
  color: whitesmoke;
}

.list {
  text-align: left;
}

.checks {
  padding-left: 32px;
}

.cards {
  width: 100%;
  display: flex;
}

.instructions {
  text-align: justify;
  width: 90%;
}

.nomeRiscado {
  text-decoration: line-through;
}

.image {
  width: 30%;
}
