.title {
  font-size: 28px;
  padding: 16px 0;
}

.cards {
  display: flex;
}

.detail {
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}

.btn-start {
  bottom: 0;
  left: 30%;
  position: fixed;
}

.hidden {
  display: none;
}
