.card , .card-header {
  display: flex;
  flex-direction: column;
}

.card {
  border: none;
  border-radius: 16px;
  box-shadow: 0 5px 5px var(--main-dark);
  height: 225px;
  justify-content: space-between;
  margin: 12px;
  overflow: hidden;
  padding: 0;
  width: 150px;
}

.card .card-header {
  height: 60%;
  text-align: center;
  width: 100%;
}

.card .card-header .card-img {
  height: 100%;
}

.card .card-title {
  font-size: 20px;
  text-align: center;
  padding: 3px 8px;
  color: var(--cinza);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

