.card , .card-header {
  display: flex;
  flex-direction: column;
}

.card {
  border: none;
  border-radius: 16px;
  box-shadow: 0 5px 5px rgb(66, 0, 0);
  height: 180px;
  justify-content: space-between;
  margin: 12px;
  overflow: hidden;
  padding: 0;
  width: 150px;
}

.card .card-header {
  height: 60%;
  text-align: center;
  width: 100%;
}

.card .card-header .card-img {
  height: 100%;
}

.card .card-title {
  color: black;
  font-size: 12px;
  padding: 3px 8px;
}
